In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("mock_payer_data.csv")

In [161]:
df

,claim_id,member_id,provider_id,member_name,dob,gender,zip,state,claim_amount,claim_date,diagnosis_code,procedure_code,payer_name
0,CLM602276,MBR804025,PRV016525,Member_0,1940-07-31,M,63193,CA,1278320.64,2024-02-18,D086,P875,Cigna
1,CLM026831,MBR067988,PRV348136,Member_1,2002-12-18,O,66171,FL,953200.64,2023-07-07,D965,P687,Aetna
2,CLM884095,MBR724861,PRV175745,Member_2,1972-06-22,M,91478,NY,1355612.16,2022-11-24,D740,P395,BlueShield
3,CLM618773,MBR210779,PRV751685,Member_3,1957-11-04,M,31999,WA,1803796.48,2023-10-26,D413,P982,Aetna
4,CLM890407,MBR714528,NaN,Member_4,2000-04-04,O,38420,CA,-2048000.00,2023-04-17,D507,P000,UnitedHealth
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3295,CLM483821,MBR129656,PRV577292,Member_1127,1999-03-14,O,87127,FL,637808.64,2022-04-02,D258,NaN,Aetna
3296,CLM486356,MBR515588,PRV603513,NaN,1981-10-30,O,33787,FL,511836.16,2023-02-08,D506,P755,Cigna
3297,CLM082873,MBR278394,PRV089474,Member_511,1992-10-10,O,NaN,NY,998277.12,2023-09-14,D932,P976,UnitedHealth
3298,CLM116021,MBR064856,PRV721416,Member_766,1947-12-05,F,NaN,CA,1006080.00,2022-10-29,D993,P805,Aetna
3299,CLM525028,MBR657606,PRV271682,Member_748,1973-12-17,F,ABC,TX,710901.76,2024-11-25,D522,P239,Cigna

In [162]:
df.info()
df.describe()
df.isnull().sum()
duplicate_rows = df[df.duplicated()]
duplicate_rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   claim_id        3266 non-null   object
 1   member_id       3246 non-null   object
 2   provider_id     3264 non-null   object
 3   member_name     3150 non-null   object
 4   dob             3154 non-null   object
 5   gender          3274 non-null   object
 6   zip             3155 non-null   object
 7   state           3247 non-null   object
 8   claim_amount    3275 non-null   float64
 9   claim_date      3247 non-null   object
 10  diagnosis_code  3275 non-null   object
 11  procedure_code  3261 non-null   object
 12  payer_name      3255 non-null   object
dtypes: float64(1), object(12)
memory usage: 335.3+ KB

,claim_id,member_id,provider_id,member_name,dob,gender,zip,state,claim_amount,claim_date,diagnosis_code,procedure_code,payer_name
3000,CLM194036,MBR356579,PRV738711,Member_2958,1987-11-20,M,20094,WA,1605447.68,2024-12-17,D029,P717,UnitedHealth
3001,CLM799461,MBR020330,PRV954366,NaN,1946-02-28,F,43113,WA,975114.24,2024-05-08,D298,P404,BlueShield
3004,CLM887967,MBR512170,PRV538560,Member_47,1967-09-30,F,97578,CA,1565245.44,2022-09-14,D964,P638,Aetna
3009,CLM146301,MBR053266,PRV825162,Member_2265,1957-02-24,O,72869,WA,1634570.24,2024-09-17,D129,P620,UnitedHealth
3013,CLM051837,MBR345374,PRV144229,Member_1014,1967-07-14,M,06452,FL,1912811.52,2022-11-14,D151,P626,Aetna
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286,CLM221767,MBR278284,PRV974781,Member_2094,1993-04-23,O,20394,FL,1556029.44,2023-02-12,D041,P203,BlueShield
3289,CLM384873,MBR023258,PRV209244,Member_1927,1999-08-13,O,75587,FL,877568.00,2023-08-25,D059,P690,Aetna
3290,CLM229755,MBR772985,PRV905495,Member_2775,1953-06-04,M,09366,NY,878141.44,2022-04-08,D690,P910,Aetna
3291,CLM957441,MBR033093,PRV730425,Member_1623,1988-11-22,M,54788,CA,681902.08,2024-02-02,D560,P058,Cigna
3294,CLM836664,MBR619402,PRV339843,Member_1090,1953-07-24,M,16284,WA,987340.80,2022-07-14,D902,P617,BlueShield

In [163]:
duplicate_count = df.duplicated().sum()
duplicates = df[df.duplicated()]
duplicate_count, duplicates.head()

(np.int64(128),
        claim_id  member_id provider_id  member_name         dob gender    zip  \
 3000  CLM194036  MBR356579   PRV738711  Member_2958  1987-11-20      M  20094
 3001  CLM799461  MBR020330   PRV954366          NaN  1946-02-28      F  43113
 3004  CLM887967  MBR512170   PRV538560    Member_47  1967-09-30      F  97578
 3009  CLM146301  MBR053266   PRV825162  Member_2265  1957-02-24      O  72869
 3013  CLM051837  MBR345374   PRV144229  Member_1014  1967-07-14      M  06452

      state  claim_amount  claim_date diagnosis_code procedure_code  \
 3000    WA    1605447.68  2024-12-17           D029           P717
 3001    WA     975114.24  2024-05-08           D298           P404
 3004    CA    1565245.44  2022-09-14           D964           P638
 3009    WA    1634570.24  2024-09-17           D129           P620
 3013    FL    1912811.52  2022-11-14           D151           P626

         payer_name
 3000  UnitedHealth
 3001    BlueShield
 3004         Aetna
 3009  UnitedHealth
 3013         Aetna  )

In [164]:
df = df.drop_duplicates()

In [165]:
df.isnull().sum()

claim_id           34
member_id          54
provider_id        36
member_name       149
dob               146
gender             26
zip               144
state              53
claim_amount       25
claim_date         53
diagnosis_code     25
procedure_code     39
payer_name         45
dtype: int64

In [166]:
df['claim_amount'] = df['claim_amount'].fillna(df['claim_amount'].median())
df['member_name'] = df['member_name'].fillna("Unknown")

C:\Users\rosha\AppData\Local\Temp\ipykernel_7524\2181325915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['claim_amount'] = df['claim_amount'].fillna(df['claim_amount'].median())
C:\Users\rosha\AppData\Local\Temp\ipykernel_7524\2181325915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['member_name'] = df['member_name'].fillna("Unknown")

In [167]:
df = df.drop_duplicates()

In [168]:
df.isnull().sum()

claim_id           34
member_id          54
provider_id        36
member_name         0
dob               146
gender             26
zip               144
state              53
claim_amount        0
claim_date         53
diagnosis_code     25
procedure_code     39
payer_name         45
dtype: int64

In [169]:
df['claim_date'] = pd.to_datetime(df['claim_date'], errors='coerce')

In [170]:
df[df['claim_date'].isna()]

,claim_id,member_id,provider_id,member_name,dob,gender,zip,state,claim_amount,claim_date,diagnosis_code,procedure_code,payer_name
35,CLM170044,MBR642531,PRV655329,Member_35,1944-11-30,M,29772,CA,398929.92,NaT,D441,P525,UnitedHealth
92,CLM426610,MBR120833,PRV460518,Member_92,1973-02-20,M,42422,CA,664555.52,NaT,D760,P359,Aetna
151,CLM482569,MBR647488,PRV221147,Member_151,2006-02-28,M,79435,NY,1201377.28,NaT,D662,P035,BlueShield
205,CLM579982,MBR005526,PRV816644,Member_205,1954-06-22,F,NaN,TX,543825.92,NaT,D127,P986,UnitedHealth
236,CLM268377,MBR603212,PRV095973,Member_236,1964-12-13,F,67596,TX,12881.92,NaT,D273,P209,Aetna
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,CLM919860,MBR154780,PRV200147,Member_1655,1941-02-22,O,54947,TX,872755.20,NaT,D936,P908,Cigna
3219,CLM810903,MBR821677,PRV333794,Member_1295,1968-10-18,F,58640,CA,973373.44,NaT,D542,P762,UnitedHealth
3240,CLM295001,MBR885999,PRV634451,Member_1169,1991-06-29,F,85248,TX,1460940.80,NaT,D522,P726,UnitedHealth
3247,CLM928026,MBR420443,PRV024993,Member_947,1941-12-27,F,72334,NY,-2048000.00,NaT,D648,P717,BlueShield
3261,CLM743327,MBR633525,PRV553501,Member_2084,1941-04-29,O,64327,FL,742133.76,NaT,D665,P164,Aetna

In [171]:
high_outliers = df[df['claim_amount'] > 2000000]
high_outliers
print(len(high_outliers))

df['claim_date_converted'] = pd.to_datetime(df['claim_date'], errors='coerce')
wrong_format_count = df['claim_date_converted'].isna().sum()
print(wrong_format_count)

df['claim_date_converted'] = pd.to_datetime(df['dob'], errors='coerce')
wrong_format_count = df['claim_date_converted'].isna().sum()
print(wrong_format_count)

85
87
258

In [172]:
from sklearn.ensemble import IsolationForest

model = IsolationForest(contamination=0.03, random_state=42)
df['Anomaly'] = model.fit_predict(df[['claim_amount']])

df_anomalies = df[df['Anomaly'] == -1]
df_anomalies.head()

,claim_id,member_id,provider_id,member_name,dob,gender,zip,state,claim_amount,claim_date,diagnosis_code,procedure_code,payer_name,claim_date_converted,Anomaly
209,CLM669067,MBR652465,PRV379025,Member_209,1953-03-05,O,46866,FL,2996592.64,2023-12-09,D874,P130,UnitedHealth,1953-03-05,-1
478,CLM613069,MBR121857,PRV397807,Member_478,NaN,M,82651,WA,2600386.56,2024-10-13,D872,P411,UnitedHealth,NaT,-1
1615,CLM267338,MBR339053,PRV543989,Member_1615,1972-05-15,O,65219,CA,2658877.44,2022-10-08,D075,P604,Aetna,1972-05-15,-1
1957,CLM948842,MBR840599,PRV434421,Member_1957,1971-12-29,M,43836,TX,2630533.12,2024-06-28,D461,P180,UnitedHealth,1971-12-29,-1
2305,CLM843387,MBR777189,PRV904707,Unknown,1994-11-29,O,80115,NY,2616279.04,2024-08-01,D670,P654,UnitedHealth,1994-11-29,-1